extends layout

block content
  div(class='row')
    div(class='span4 offset4')
    h1= title
    p Built with Angular on Express. ;-)
  div(class='row')
    div(class='span4 offset4')
      div(ng-controller='MainController as main')
        div(ng-repeat='product in main.products')
          h1 {{product.name}} 
            small {{product.price | currency}}
          h3 {{product.description}}
          p
            button(class='btn btn-sm' ng-show='product.canPurchase') Add to Cart
          product-panel